@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}
@layer components {
  .btn {
    @apply py-3 px-4 rounded-[10px] flex gap-2 items-center text-sm cursor-pointer font-medium;
  }
  .btn-primary {
    @apply py-3 px-4 rounded-[10px] flex gap-2 items-center text-sm cursor-pointer font-medium bg-cyan-600 text-white hover:bg-cyan-700;
  }
  .btn-primary-outline {
    @apply py-3 px-4 rounded-[10px] flex gap-2 items-center text-sm cursor-pointer font-medium hover:bg-cyan-50 border border-cyan-600 text-cyan-600;
  }
}

.select2.select2-container {
    width: 100% !important;
    outline: none !important;
  }

  .select2-container--default .select2-selection--single {
    border: 1px solid #e2e8f0 !important;
    border-radius: 12px !important;
  }

  .select2-container .select2-selection--single {
    height: 48px !important;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: rgb(30 41 59 / 1);
    line-height: 48px !important;
  }

  .select2-container--open .select2-dropdown--below {
    border-top: 1px solid #aaa !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 48px !important;
    top: 0 !important;
    right: 4px !important;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    color: #cbd5e1 !important;
    font-size: 14px;
  }